<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Essays</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Balanced essay</h1>
    <h2>There seems to be an increasing number of serious crimes committed each year. While some think the best way is to use the death penalty as a deterrent, many people believe that other measures will be needed</h2>
    <p>The crime rates are increasing continuously around the world and death penalty is considered as the most effective way to solve this problem, according to some. However, others claim the opposite. Although both sides seem justifiable, I agree with the former statement.
	Some people think that adopting extreme harsh punishments such as sentencing to death is totally against to basic rights of a human. In other words, even a criminal who was involved in killing hundreds of people must not be executed. They prove their stand by claiming that every single human-being has a right to live and this fact can`t be rejected in any circumstance. In addition, this method of punishing is thought to be an old-fashioned and historical one because of its inhumane nature. Moreover, they do not want criminals to be killed due to the chance of making them work for free in prisons.
	However, from the other perspective, capital punishment is only solution to reduce the excessive amount of crime, I think. The main reason for this is the fact that it definitely serves as a real eye-opener to even innocent people. In turn, this helps to change individuals’ attitudes towards serious crimes and makes. Them aware of the severe consequences they would face. The Chinese experience can prove my opinion at their point. The country is well-known to the world for its harsh punishments. As a result, China ranks one of the lowest positions in terms of crime rate.
	To conclude, despite the death penalty seems to be immoral, this method approves itself, in my view.
                                                                                                                  (261 words)
</p>
    <p><b>http://127.0.0.1:8000/home2/ va /home3/ ni kiritib ko`ring. boshqa sahifa uchun</b></p>
    {% endblock content %}
</body>
</html>