<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>essay</title>
</head>
<body>
    {% extends 'base.html' %}
{% block content %}
    <h1>part1 grafic</h1>
    <h2>The line graph below shows changes in the amount and type of fast food consumed by Australian teenagers from 1975 to 2000</h2>
    <p>The line chart demonstrates the number of times Australian teenagers ate three types of fast food per year (fish & chips, pizza and hamburgers). The data covers the period of 25 years starting from 1975.
Overall, fish and chips lost their popularity among teenagers in Australia over the period. However, hamburgers and pizza started to be eaten far more frequently.
The index of fish & chips experienced a significant reduction throughout the span under scrutiny. Its figure nosedived by almost 60 from its 100 when the time started.
In stark contrast, the indication for hamburgers increased exponentially from nearly 10 at the start till 100 in 1995. This was followed by a stagnation at 100 for a 5-year-period. The data for pizza followed a similar pattern a well. It skyrocketed till well-above 80 in 1995. Afterwards, index for this particular type of fast food did not illustrate any changes in the next 5 years.
</p>
{% endblock content %}
</body>
</html>